body{
background-color:purple;
color:white;
}
#header-nav{
background-color:lightyellow;
border-radius:0;
border:0;
}
p{
font-weight:bold;}
#biriyani,#noodles{
padding-bottom:20px;
}

#tot{
background-color:maroon;
border: 2px solid white;
padding:10px;
letter-spacing:2px;
word-spacing:2px;
}
#logo-img{
background:url('https://iconizer.net/files/simple_social_bookmarking/thumb/128/wordpress.png') no-repeat; 
width:150px;
height:150px;
margin:10px 0px 10px 0px;
}

.navbar-brand h1{
font-weight:bold;
}
.navbar-brand{
padding-top:25px;
}

.navbar-brand a:hover,.navbar-brand a:focus{
text-decoration:none;
}


